*{ 
    box-sizing: border-box;
}
html{
    min-height: 100vh;
    font-family: 'Rubik Wet Paint', cursive;
}
body{ 
    margin: 0;
    background-image: url(Images/Bg.png);
    position: relative;
    background-size: cover;
    background-position: center;
    
}
.heading  {
    color: #ff9f1c;
    text-align: center;
    font-size: 4em;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #dc2f02;
}
.game-info-highScore {
    font-size: 1.5em;
    color:#d4d700;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.game-info{
    color: beige;
    font-size: 1.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.game-info-details{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px auto;
    justify-content: center;
    perspective: 500px;
}

.card{
    cursor: -webkit-grab; cursor: grab;
    position: relative;
    height: 165px;
    width: 145px;
    border-radius: 12px;
    background:radial-gradient(#ff9f1c,#9d0208);
}
.card.visible .card-back{
    transform: rotateY(-180deg); 
}
  
.card.visible .card-front{
    transform: rotateY(0); 
}

.card.visible.disable .card-front{
    pointer-events: none;
    cursor: not-allowed;
}


.card.matched.disable .user-hidden-image{
    animation: dance 1s linear infinite 500ms;
    pointer-events: none;
    cursor: not-allowed; 
}

@keyframes dance{
    0%, 100% {
        transform: rotate(0);
    }
    25%{
        transform: rotate(-10deg);
    }
    75%{
        transform: rotate(10deg);
    }
}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-family: 'Rubik Wet Paint','Roboto', cursive;
    color: #b1652b;

}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    cursor: -webkit-grab; cursor: grab;
    animation: overlay-grow 700ms forwards;
}

.overlay-text-small {
   font-size: .6em;
   color: #e0ac00;
}

@keyframes overlay-grow{
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .85);
        font-size: 10em;
    }
}

.card-face{
    position: absolute;
    width: 100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 2px;
    border-style: dashed;
    transition: transform 500ms ease-in-out;
}

.card-front{
    transform: rotateX(180deg);
    background-color: black;
}

.user-visible-image{
    align-self: flex-start;
    height: 185px;
    width: 145px;
    transform: translateY(-35px);
    transition: 70ms ease-in-out;
}

.user-hidden-image{
    align-self: flex-start;
    height: 165px;
    width: 145px;
    transform: scale(.8);
    transition: 100ms ease-in-out;
    position: relative;
}

.card-front:hover .user-hidden-image{
    transform: scale(1);
}

.card-back:hover .user-visible-image{
    transform: translateY(0);
}

@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }
    .game-info-details {
       flex-direction: column;
       align-items: center;
    }
}